/BitmapImage/bin/**
/BitmapImage/obj/**
/GraphicsAnimation/bin/**
/GraphicsAnimation/obj/**
/Map/bin/**
/Map/obj/**
/PictureBoxAnimation/bin/**
/PictureBoxAnimation/obj/**
/PictureBoxOpacity/bin/**
/PictureBoxOpacity/obj/**
/Scroll/bin/**
/Scroll/obj/**
/SoundPlay/bin/**
/SoundPlay/obj/**
